

.photo {
    height: 200px;
    width: 200px;
    float: left;
    border: 10px;
}

.p1 {
    text-align: left;
}

h3 {
    font-size: 30px;
}
h1{
  font-size: 80px; color: white; text-align: center;

}
fieldset{
  border-color: red;
  border-width: 10px;
  border-style: solid;
  background-color: red;

}
html{
  font-family: "Poppins", sans-serif;

}
